{%- import "tools.j2" as tools with context -%}
{{ ansible_managed|comment }}
{% if telegraf__conf__plugins__extra is iterable -%}
{{ tools.plugins(telegraf__conf__plugins__extra, item.name, 'outputs') }}
{{ tools.plugins(telegraf__conf__plugins__extra, item.name, 'inputs') }}
{%- endif %}
