{%- import "tools.j2" as tools with context -%}
{{ ansible_managed|comment }}
[global_tags]
{% if telegraf__conf__global_tags %}
{% for key, value in telegraf__conf__global_tags.iteritems() %}
  {{ key }} = "{{ value }}"
{% endfor %}
{% endif %}

[agent]
  interval            = "{{ telegraf__conf__agent__interval }}"
  round_interval      = {{ telegraf__conf__agent__round_interval|lower }}
  metric_batch_size   = {{ telegraf__conf__agent__metric_batch_size }}
  metric_buffer_limit = {{ telegraf__conf__agent__metric_buffer_limit }}
  collection_jitter   = "{{ telegraf__conf__agent__collection_jitter }}"
  flush_interval      = "{{ telegraf__conf__agent__flush_interval }}"
  flush_jitter        = "{{ telegraf__conf__agent__flush_jitter }}"
  debug               = {{ telegraf__conf__agent__debug|lower }}
  quiet               = {{ telegraf__conf__agent__quiet|lower }}
  hostname            = "{{ telegraf__conf__agent__hostname }}"
  omit_hostname       = {{ telegraf__conf__agent__omit_hostname|lower }}

{% if telegraf__conf__plugins is iterable %}
{{ tools.plugins(telegraf__conf__plugins, '', 'outputs') }}
{{ tools.plugins(telegraf__conf__plugins, '', 'inputs') }}
{% endif %}
